{% extends 'base.html' %}

{% block content %}
    <h1 class="display-4">Password Generator</h1>
    <form action="{% url 'password' %}">

        <label for="length" class="lead">Length: </label>
        <select name="length" class="custom-select w-auto">
            <option value="8">8</option>
            <option value="16">16</option>
            <option selected value="32">32</option>
            <option value="64">64</option>
            <option value="128">128</option>
        </select><br>

        <label for="uppercase" class="lead">Include uppercase characters</label>
        <input type="checkbox" name="uppercase"><br>

        <label for="number" class="lead">Include numbers </label>
        <input type="checkbox" name="number"><br>

        <label for="special" class="lead">Include special characters </label>
        <input type="checkbox" name="special"><br>

        <input type="submit" class="btn btn-primary">
        <input type="reset" class="btn btn-secondary">
    </form>
{% endblock %}
