{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'password/css/password.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="display-4">Your password</h1>
    <h3 class="alert alert-success">{{ created_password }}</h3>
    <a href="{% url 'home' %}" class="btn btn-primary"><i class="fas fa-home"></i> Home</a>
    <a onClick="window.location.reload()" class="btn btn-secondary" id="btn-reload"><i class="fas fa-sync-alt"></i>
        Refresh</a>
{% endblock %}